.uno{
    width: 20%;
}

.dos{
    width: 20%;
}

.tres{
    width: 20%;
}

.cuatro{
    width: 20%;
}

.cinco{
    width: 20%;
}

.seis{
    width: 20%;
}

.siete{
    width: 20%;
}

.ocho{
    width: 20%;
}

.nueve{
    width: 20%;
}

.pri{   
    width: 20%;
}

.sec{
    width: 20%;
}

.ter{
    width: 20%;
}

.cuar{
    width: 20%;
}

.quin{
    width: 20%;
}

.sext{
    width: 20%;
}

.sep{
    width: 20%;
}

.oct{
    width: 20%;
}

.nov{
    width: 20%;
}
